<% include partials/nav.ejs %>
<!--SideNav Finished-->
<div class="form_container card blue-white darken-1">
  
</div>




  <!--Some Scripts-->
  <script type="text/javascript" src="js/jquery.js"></script>
  <script type="text/javascript" src="js/materialize.min.js"></script>
  <script>
    $(document).ready(function () {
      // Custom JS & jQuery here
      $('.button-collapse').sideNav();
    });
    
    $(document).ready(function(){
    $('.modal').modal();
  });
  </script>
 
</body>

</html>